/node_modules
/public/hot
/public/img/documents
/public/img/trademarksImages
/public/img/document_translation
/public/response_documents
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
